<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @order.organization_id %>
</p>

<p>
  <strong>Rider:</strong>
  <%= @order.rider_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @order.contact_phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
